
body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

.section {
    margin: 0 0 20px 0;
}

.section .head {
    font-weight: bold;
    font-size: 16pt;
}

.section .content {
    margin: 0 0 0 10;
}

.subsection {
    margin: 10 0 0 10;
}

.subsection .head {
    font-size: 12pt;
}

.workplace .employer {
    font-size: 14pt;
    font-weight: bold;
}

.job {
    margin: 0 0 0 10;
}

.job .timeframe {
    float: right;
    font-weight: bold;
}

.job .title {
    font-weight: bold;
}

.job .description {
    margin: 0 0 10 0;
}

@media screen {
    header {
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        padding: 12px;
        margin: 0;
        font-size: 14pt;
        border-bottom-right-radius: 4px;
    }

    header .intro {
        font-style: italic;
    }

    header .image img {
        border-radius: 50%;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }
}

@media screen and (min-width: 1025px) {
    header {
        width: 225;
        float: left;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
    }

    header .address {
        font-weight: bold;
        margin: 0 0 0 8;
    }

    header .phone {
        font-style: italic;
        margin: 0 0 0 8;
    }

    header .email {
        font-style: italic;
        margin: 0 0 0 8;
    }

    header .intro {
        font-size: 16pt;
        font-style: italic;
        font-weight: bold;
        margin: 10 0 0 0;
    }
    
    div.main-content {
        width: 55%;
        margin: 0 250px 20px 300px;
        padding: 20px 0 0 0;
    }
}

@media only screen and (max-width: 1024px) {

    body {
        font-size: 125%;
    }

    header {
        width: 100%;
        text-align: center;
    } 

    header h2 {
        margin: 10px;
    }

    header .intro {
        margin: 5px 40px 5px 40px;
    }

    header .image img {
        width: 100px;
    }

    .main-content {
         margin: 20px;
         padding: 20px;
    }
}


@media print {

    @page {
        margin: 0.25in;
    }

    body {
        width: 7.5in;
        margin: 0.25in;
    }

    .main-content {
        width: 7.5in;
        font-size: 80%;
    } 

    header h2 {
        margin-bottom: 4;
    }
    
    header .address {
        float: right;
        text-align: right;
    }

    header .intro {
        font-size: 14pt;
        font-style: italic;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 0.5em;
    }

    .description p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        widows: 3;
        orphans: 3;
    }

    .section {
        margin-bottom: 0.5em;
    }

    .subsection {
        margin-top: 0;
    }

    header .image {
        display: none;
    }
}